In [ ]:
# Question 3

it_companies = {'Facebook', 'Google', 'Microsoft','Apple','IBM', 'Oracle', 'Amazon'}
A = {19,22,24,20,25,26}
B = {19,22,20,25,26,24,28,27}
age = [22,19,24,25,26,24.25,24]

# lenght of the set it_companies.
x = len(it_companies)
print(x)

# Adding "Twitter" to the it_companies set.
it_companies.add('Twitter')
print(it_companies)

# Remove "Amazon" from the it_companies set.
it_companies.remove('Amazon')
print(it_companies)

# The only difference between remove and discard is 'remove' function will raise an error if the particular item is not found. Whereas in 'discard() method no error is generated.

# Joining two sets A and B
C = A.union(B)
print(C)

# Finding Intersection of A and B sets
print(A.intersection(B))

# Finding whether A is subset of B
is_subset = A.issubset(B)
print("Is A is subset of B? :", is_subset)

#Finding whether A and B are disjoint sets or not
is_disjoint = A.isdisjoint(B)
print("Are A and B are disjoint sets? :", is_disjoint)

# Joining A set with B and B set with A
up1 = A.union(B)
up2 = B.union(A)
print(up1)
print(up2)

# Finding the symmetric difference between A and B sets
sys = A.symmetric_difference(B)
print(sys)

# Deleting all the sets
del it_companies
del A
del B

# Converting Ages into a set and compare the lenght of the list and the set
age_set = set(age)
age_list_len = len(age)
age_set_len = len(age_set)
print("Age List Length = ", age_list_len)
print("Age Set Length = ", age_set_len)

7
{'Facebook', 'Google', 'Amazon', 'Apple', 'IBM', 'Microsoft', 'Oracle', 'Twitter'}
{'Facebook', 'Google', 'Apple', 'IBM', 'Microsoft', 'Oracle', 'Twitter'}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
Is A is subset of B? : True
Are A and B are disjoint sets? : False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}
Age List Length =  7
Age Set Length =  6

In [ ]:
# Question 1
import statistics

ages = [19,22,19,24,20,25,26,24,25,24]
# Sorting the list of ages
ages.sort()
print(ages)
# Finding the minimum and maximum age in the list.
min_age = min(ages)
max_age = max(ages)
print(min_age)
print(max_age)

# Adding the minimum age and the maximum age again to the list
ages.append(min_age)
ages.append(max_age)
print(ages)

# Finding the median age of the ages list
print("Median of ages = " ,(statistics.median(ages)))


# Finding the average age of the list.
average_list = sum(ages)/len(ages)
print(average_list)

# Finding the range of the ages
range_ages = max_age - min_age
print(range_ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median of ages =  24.0
22.75
7

In [8]:
# Question 2

# Creating an empty dictionary named "dog"
dog = {}

# Adding name, color, breed, legs, and age to the dog dictionary
dog['Name'] = 'Whiskey'
dog['Color'] = 'White and brown'
dog['Breed'] = 'Shitzu'
dog['Legs'] = 4
dog['age'] = 3

# Creating a student dictionary
student_details = {'first_name':'Siddardh','last_name':'Arigela','gender':'Male','age':20,'marital_status':'Single','skills':['Web Development','Python'],'country':'India','city':'Hyderabad','address':'Habsiguda'}

# Finding the length of the dictionary of student_details
student_details_len = len(student_details)
print(student_details_len)

# Getting the value of 'skills' from student_details dictionary and checking the data type of it.
s_value = student_details['skills']
print(s_value)
s_value_datatype = type(s_value)
print(s_value_datatype)

# Modifying the skills values by adding one or more skills in student_details dictionary
modified_skills = student_details['skills'].extend(['Business Intelligence tools','SQL'])
print(student_details)

# Getting the list of keys from student_details dictionary
keys_list = list(student_details.keys())
print(keys_list)

# Getting the list of values from student_details dictionary
values_list = list(student_details.values())
print(values_list)

9
['Web Development', 'Python']
<class 'list'>
{'first_name': 'Siddardh', 'last_name': 'Arigela', 'gender': 'Male', 'age': 20, 'marital_status': 'Single', 'skills': ['Web Development', 'Python', 'Business Intelligence tools', 'SQL'], 'country': 'India', 'city': 'Hyderabad', 'address': 'Habsiguda'}
['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
['Siddardh', 'Arigela', 'Male', 20, 'Single', ['Web Development', 'Python', 'Business Intelligence tools', 'SQL'], 'India', 'Hyderabad', 'Habsiguda']

In [23]:
# Question 4

# Creating a class named "Employee"
class Employee:
  empCount = 0 # Creating a Data member to count the number of employees
  avg = 0

  # Creating a default constructor to initialize name, family, salary, and department.
  def __init__(self, name, family, salary, department):
    self.name = name
    self.family = family
    self.salary = salary
    self.department = department
    Employee.empCount += 1   # Here I am incrementing employee count whenever a new employee is added.
    print(name, family, salary, department)

  # Creating a function called 'Average Salary.
  def Average_salary(self, employees):
        total_salary = sum(emp.salary for emp in employees)
        return total_salary / len(employees)

# Creating a class named 'Fulltime Employee' and inherting the properties of Employee Class
class Fulltime_Employee(Employee):
  def __init__(self, name, family, salary, department):
    super().__init__(name, family, salary, department)

# Creating the instances of Employees and the Fulltime Employees class.
emp1 = Employee("Siddardh Arigela","Son",50000,"Retail Manager")
emp2 = Employee("Sanjana Arigela","Daughter",40000,"HR")
emp3 = Fulltime_Employee("Sateesh Arigela","Father",90000,"Project Leader")
emp4 = Fulltime_Employee("Swapna Arigela","Mother",80000,"Graphics Designer")

print()
# Printing the total count of the employees using the data member
print("Total number of Employees :", Employee.empCount)

Siddardh Arigela Son 50000 Retail Manager
Sanjana Arigela Daughter 40000 HR
Sateesh Arigela Father 90000 Project Leader
Swapna Arigela Mother 80000 Graphics Designer

Total number of Employees : 4